body{
    display: inline-grid;
    width: 100vw;
    margin: 0;
    
}

ul{
    list-style-type: none;
}

.dbContainer{
    background-color:aqua;
    grid-area: 1/1/10/2;
}

.headContainer{
    background-color: beige;
    grid-area: 1/2/2/10;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
}

.info{
    display: flex;
    justify-content: space-between;
}

.contentContainer{
    background-color: blanchedalmond;
    grid-area: 2/2/10/10;
    display: grid;
}

.projectsContainer{
    background-color: red;
    grid-area: 1/1/4/3;
}

.projects{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.anonContainer{
    background-color: green;
    grid-area: 1/3/2/4;
}

.anouncements{
    background-color: brown;
    
}

.trendingCont{
    background-color: chartreuse;
    grid-area: 2/3/4/4;
}

.trending{
    background-color: darkmagenta;
}

